@model PokeDex.Domain.Models.Creatures
@{
    ViewData["Title"] = "PokedexList";
}

<table class="table table-striped">
    <thead>
        <tr>
            <td>Dex Number</td>
            <td>Name</td>
            <td>Sprite</td>
        </tr>
    </thead>
</table>


